<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление студента</title>
</head>
<body>
    <h1>Добавить студента</h1>

    {% if error_message %}
        <div style="color: red">{{ error_message }}</div>
    {% endif %}

    {% if success_message %}
        <div style="color: green">{{ success_message }}</div>
    {% endif %}

    <form method="post">
        <input type="text" name="number_gradebook" placeholder="№ зачетной книжки" required>
        <input type="text" name="name" placeholder="Имя" required>
        <input type="number" name="age" placeholder="Возраст" required>
        <input type="number" name="department_id" placeholder="ID отдела" required>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>