<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все студенты</title>
</head>
<body>
<h1>Список студентов</h1>
<div>
  {% for student in students %}
  <div>
    <h2> № зачетной книжки: {{student.number_gradebook}} </h2>
    <p>Фамилия: {{student.surname}}</p>
    <p>Имя: {{student.name}}</p>
    <p>Отчество: {{student.patronymic}}</p>
    <p>Номер группы: {{student.group_number}}</p>
    <p>Кафедра: {{student.code_department}}</p>
    <p>Специальность: {{student.code_specialization}}</p>
  </div>
  {% endfor %}
</div>
</body>
</html>