<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление студента</title>
</head>
<body>
    <h1>Добавить студента</h1>

    {% if error_message %}
        <div style="color: red">{{ error_message }}</div>
    {% endif %}

    {% if success_message %}
        <div style="color: green">{{ success_message }}</div>
    {% endif %}

    <form method="post">
        <input type="text" name="id" placeholder="ID руководителя" required>
        <input type="text" name="surname" placeholder="Фамилия" required>
        <input type="text" name="name" placeholder="Имя" required>
        <input type="text" name="patronymic" placeholder="Отчество" required>
        <input type="text" name="academic_title" placeholder="Ученое звание" required>
        <input type="text" name="post" placeholder="Должность" required>
        <input type="text" name="code_department" placeholder="Код кафедры" required>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>